.logo {
    width: 120px;
    height: 46px;
    background: rgba(255, 255, 255, 0.2);
    margin: 9px 24px 16px 0;
    float: left;
    background-image: url('../assests/images/logo.jpg');
    background-size: cover;
    background-position-y: -145px;
  }